@font-face {
  font-family: 'BYekan';
  src: url("assets/fonts/BYekan.ttf") format('truetype');
  src: url("assets/fonts/BYekan.ttf") format('embedded-opentype');
  src: url("assets/fonts/BYekan.ttf") format('woff');
  src: url("assets/fonts/BYekan.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'BYekanBold';
  src: url("assets/fonts/BYekanBold.ttf") format('truetype');
  src: url("assets/fonts/BYekanBold.ttf") format('embedded-opentype');
  src: url("assets/fonts/BYekanBold.ttf") format('woff');
  src: url("assets/fonts/BYekanBold.ttf");
  font-weight: 700;
}


body {
  margin: 0;
  padding: 0;
}

